@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: #676767;
}
.bg-color-how-help {
    background-color: #987554;
}

.bg-color-our-mission {
    background-color: #D2B48C;
}

.ui-menu-color-home {
    background-color: #132A13;
}

.ui-menu-color-about {
    background-color: #31572C;
}

.ui-menu-color-contact {
    background-color: #4F772D;
}

.ui-menu-color-signup {
    background-color: #6c7e42;
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

#header-img {
    background-image: url("../images/treeslightheader.webp");
    
}

.name {
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
}

.title {
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;

}

/* ----------------------------------------Footer */

footer {
    background-color: #4a301e;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.btn-primary {
    background-color: #4F772D;
    border: none ;
}

.btn:hover {
    background-color: #31572C;
}
.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #132A13;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #6c7e42;
}

#footer-details {
    padding: 20px;
    text-align: center;
}

/* ----------------------------------------How you can help */

.how-help-icon {
    font-size: 26px;
    color: #fafafa;
}

.how-help-heading {
    margin-bottom: 15px;
}

/* ----------------------------------------Our mission */

.our-mission-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
    width: 100%;
}

.our-mission-item .goal,
.our-mission-item .reason {
    display: inline-block;
}

.our-mission-item .goal p,
.our-mission-item .reason p {
    margin: 0;

}

.our-mission-item .goal {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2rem;
    vertical-align: top;
}

.our-mission-item .goal p {
    font-weight: 700;
}

.our-mission-item .reason {
    position: relative;
    width: 100%;
    text-align: end;
    font-size: 80%;
}